<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <section id="mainpage">
        <!-- navba -->
        <div class="bigcontainer">
          <div class="head_container">
            <div class="logo">
              <img src="static/pictures/rodeo.png" alt="" id="logoimage">
            </div>
            <div class="links">
              <i class='fas fa-user-plus' style='font-size:24px'></i>
              <i class='fas fa-language' style='font-size:24px'></i>
            </div>
          </div>
          <div class="image_container">
                <div class="main_heading">
                   <h1>What are you planting ?</h1>
                </div>
                <div class="search">
                  <i class='fas fa-microphone' style='font-size:24px'></i>
                  <i class='fas fa-camera-retro' style='font-size:24px'></i>
                  <i class="fa fa-search" style='font-size:24px'></i>
                </div>
          </div>
        </div>
        <div id="chatbot">
          <h4 style="color: beige;">chatbot</h4>
        </div>
        <nav id="navbar">
          <ul id="navlist">
            <li class="navlistitem"><a href="#"></a></li>
            <li class="navlistitem"><a href="#"></a></li>
          </ul>
        </nav>
      </section>
</body>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</html>