<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Plant Doctor</title>
  <link rel="stylesheet" href="/static/index.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .open-button{
  
    margin : 3rem ;
   position : fixed ;
   right : 0px ;
   border-radius : 4rem ;
  
  }

  #mainbot {
    display : none ;
  }

 .close-button{
   margin : 3rem ;
   position : fixed ;
   right : 0px ;
   border-radius : 4rem;
  width : 4rem ;
  hight : 4rem ;
  display : none ;
 }
.search {
  display : none ;
}
  </style>
</head>

<body>
  <!-- this is the main page of the website -->
  <section id="mainpage">
    <!-- navba -->
    <div class="bigcontainer">
      <div class="head_container">
        <div class="logo">
          <img src="static/pictures/rodeo.png" alt="" id="logoimage">
        </div>
        <div class="navbar">
        <ul class="navbarlist">
        <li class="listitem"><a href="Home">Home</a></li>
        <li class="listitem"><a href="Services">Services</a></li>
        <li class="listitem"><a href="aboutus">About Us</a></li> </ul>
        </div>
        <div class="links">
          <i class='fas fa-user-plus' style='font-size:24px'></i>
          <i class='fas fa-language' style='font-size:24px'></i>
        </div>
      </div>
      <div class="image_container">
        <div class="main_heading">
          <h1>We Help Your Plant Thrive!</h1>
        </div>
        <div class="search">
          <i class='fas fa-microphone' style='font-size:24px'></i>
          <i class='fas fa-camera-retro' style='font-size:24px'></i>
          <i class="fa fa-search" style='font-size:24px'></i>
        </div>
      </div>
    </div>
    <div id="open">
    <button class="open-button" onclick="openForm()">
    <i class='far fa-comments icon' style='font-size:48px;color : black;'></i></button>
    <button class="close-button" onclick = "closeform()">
    <i class="fa fa-close closeicon" style="font-size:48px;color: black;"></i></button>
    <iframe id = "mainbot" src='https://webchat.botframework.com/embed/ourTPKB1?s=YOUR_SECRET_HERE'  style='min-width: 400px; width: 100%; min-height: 500px;'></iframe>
    </div>
   
   
    
  </section>
<section>

</section>
  <section id="seconed_page">

  </section>
  <section id="thirdpage">
    <!-- making the  card -->
    <!-- <h1 id="vegetables_heading">VEGETABLES</h1> -->
    <!-- making the 10 cards -->


    <div class="tomato">
    
    <h2>Tomato</h2>
   <a href="tomato">Know More </a>
    </div>
    
  </section>

<section>

<div  id ="message_big_container">
<div id="message_contain1">
<h1>Providing the best solution for your plant</h1>
</div>
<div id="message_contain2">
<form action="/getfeedback" method ="post" >
<div id="formid">
<div class="formdata"><input type="text" name = "username" placeholder = "Name"></<div>
<div class="formdata"> <input type="email" placeholder= "Email " name="useremail" value=""></<div>
<div class="formdata"> <input type="tel" placeholder="Phone" name ="userphonenumber"></<div>
<div class="formdata"><textarea rows="3" cols="30"name ="message">Message</textarea></<div>
<div class="formdata"><textarea rows="3" cols="30" name = "feedback" >Feedback</textarea></<div>
<div class = "formdata"><button type = "submit" id ="submit_button" >Send</button></div>
</div>

</form>
</div>
</div>
</section>

  <footer id="footer_content">
 <div id="smart_plant_doctor">
 <h2>Smart Plant Doctor</h2>
 <p>Our application provides the suggestions to the ones who face issues in their gardening stuff via a chatbot for thriving your plant</p>
 <p>It also diagnoses the plant condition by analyzing the images that the user provides and gives the necessary recommendations.</p>
 <p id = "quote">Gardening nourishes the body ,<br>Elevates the spirit ,<br>And makes the world a better beautiful place.</p>
 <div class="follow">
 
 </div>
 </div>
 <div id="usefullinks">
 <h3>Useful Links</h3>
 <ul class="list">
 <li class="listiteml"><a href="Home">Home</a></li>
 <li class="listiteml"> <a href="Services">Services </a></li>
 <li class="listiteml"><a href="Contact">Contact</a></li>
 </ul>
 </div>
 <div class="dev_big">
 <h3>Developers</h3>
 <div id ="developer">
 <div class="devlist"><img src="../static/pictures/krupali.jpg" alt="" ><h5>Krupali Tandel</h5></div>
 <div class="devlist"><img src="../static/pictures/arshita.jpeg" alt=""><h5>Arshita Anchaliya</h5></div>
 <div class="devlist"><img src="../static/pictures/hrishika.jpeg" alt=""><h5>Hrishika Rai</h5></div>
 <div class="devlist"><img src="../static/pictures/mubaraka.jpeg" alt=""><h5>Mubaraka Kunda</h5></div>
 </div>
 </div>
 
  </footer>


</body>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script>
let chatbot = document.getElementByID('chatbot');

chatbot.addEventListener('onclick' , ()=>{

})

</script>

</html>