<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tomato</title>
   <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <style>
*{
  font-family: 'Roboto', sans-serif;
  font-size : 20px ;
}
.big_container{
  display : flex ;
 
  justify-contents : center ;
  align-items : center ;
  
}

  .tomato_big_contain{
 margin : 5rem ;

display : flex;
flex-direction : column;
justify-contents : center ;
align-items : center ;

  }
  .tomato_image{
   
    
  }

  #tomato_content {

     
  }
#heading {
text-align :center ;
font-size :30px ;
}
  </style>
</head>
<body>
<div class="big_container">
<div class="tomato_big_contain">
<div class="tomato_image">
<h1 id ="heading">Tomato</h1>
<img src="../static/pictures/tomato1.png" alt="" width = "1250px  " height = "400px">
</div>
  <div id="tomato_content">
<P>Tomato grows in the warm season .It requires sandy , heavy clay , read loam soil with the ph 
between 6 to 7 .Tomato plant requires the temperature between 21<sup>.</sup><!--  --> - 24 <sup>.</sup>c. 
</P>
<p>Temperature above 32 <sup>.</sup>c and below 10 <sup>.</sup>c can adversly effect the growth of the tomato plant
</p>
<h3>Necessary steps taken to grow Tomato at Home</h3>
<p>Sowing should be done in thinly lines spaced at 10 -15 cm distance 
seeds should be sown at the depth of 2-3 cm and covered with the fine layer of soil followed by light water spray 
</p>
<p>Tomato plant are very sensitive to water. Irrigation should be given 7-8 days in the interval during the kharif and during Rabi 10 -12 days and 5 -6 days in the summer</p>
<h3>Natural Fertilizer </h3>
<ul>
<li>Wood ash from the fireplace can be a great nutrition source of potassium .</li>
<li>Banana peel can also be a great source of potassium and calcium</li>

</ul>

<h3>Disease and Managment </h3>
<p>Common disease that are caused in the Tomato plant are Early blight and Bacterial wilt </p>
<h4>Early Blight</h4>
<p>The fungus attacks the foliage causing characteristic leaf spots and blight. Early blight is first observed on the plants as small, black lesions mostly on the older foliage.</p>
<p>Spots enlarge, and by the time they are one-fourth inch in diameter or larger, concentric rings in a bull's eye pattern can be seen in the center of the diseased area.
Tissue surrounding the spots may turn yellow. If high temperature and humidity occur at this time, much of the foliage is killed.</p>
<img src="../static/pictures/earlyBlight.png" alt="" width = "200px" height = "200px">
<img src="../static/pictures/earlyBlight1.jpg" alt="" width = "200px" height = "200px">
<img src="../static/pictures/earlyBlight3.jpg" alt="" width = "200px" height = "200px">
<img src="../static/pictures/earlyBlight4.jpg" alt="" width = "200px" height = "200px">
<h4>Symptoms of Early Blight</h4>
<p>Tomatoes affected by early blight will have oval-shaped irregular brown or black spots on older leaves which become noticeable ten days after the infection begins. These spots will develop multiple rings, creating a target-like design as the disease progresses further. Eventually, if no action is taken, the spots begin to yellow and the leaves start to drop off the plant. As the leaves fall away, the unprotected fruit is left to bake in full sunlight, causing it to scald and ruin.
 Early blight also directly affects the fruit of the tomato plant, causing dark, sunken, leathery spots to occur on the ends of the plant’s stems. The rot then goes down into the fruit of the tomato and eventually causes the fruit to drop from the plant. The disease overwinters on plant debris and grows strong in warm, moist weather conditions. Using control spray is very important to rid the garden area of the disease entirely, as the disease will often enter through a cut, bruise, or wounded area of a healthy tomato and infect the entire plant.</p>
<h4>Steps to prevent disease</h4>
<p>
• Provide good ventilation. Make sure there is good ventilation around the plants – keep the sides of any cover open and try to prevent condensation building up.<br>
 • Plant early. Plant early to try for a harvest before early or late blight hits.<br>
 • Choose resistant varieties.<br>
 • Practice good hygiene.<br>
 • Early blight prevention involves spraying plants with copper-based fungicides.<br>
 • precautions to take when using these copper-based fungicides, don't spray the plants if there is any wind or rain.</p>
<h4>Treatment And Control Of Early Blight</h4>
<p>Follow a good fungicide regimen using a fungicide recommended specifically for early blight. Plant only disease-resistant varieties of tomatoes (such as Mountain Fresh, Mountain Supreme and Plum Daddy cultivars) after treating the beds with fungicide and removing all old plant debris completely, following fungicide instructions carefully.
 The best way to keep early blight out of your garden is to practice control methods. Early blight is a soil borne fungus that occurs when the leaves of the tomato plant get too wet and get soil particles on the underside of the leaves. In order to keep the leaves from getting dirty, there are practices that you can try that will keep the leaves from touching the ground. Cover the soil with at least six inches of mulch during the growing season, putting a layer of protection in place, so that the leaves don’t touch the soil directly.
 Remove old plant debris completely and discard of it in the garbage. Do not compost affected plants or you will most likely be reintroducing the disease to your soil down the road. Rotate your crops often. Carefully space out your plants to promote good air circulation to help your plants dry out after a rain or watering.</p>
 <h4>Fovourable Conditions</h4>
 <p>Moist weather and splattering rains
High humidity or persistent dew.
</p>
  </div>

</div>
</div>
</body>
</html>